/*circle {*/
/*    fill-opacity: 0.5;*/
/*}*/

/*.lasso path {*/
/*    stroke: rgb(80,80,80);*/
/*    stroke-width:2px;*/
/*}*/

/*.lasso .drawn {*/
/*    fill-opacity:.05 ;*/
/*}*/

/*.lasso .loop_close {*/
/*    fill:none;*/
/*    stroke-dasharray: 4,4;*/
/*}*/

/*.lasso .origin {*/
/*    fill:#3399FF;*/
/*    fill-opacity:.5;*/
/*}*/

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
  }
.lasso .drawn {
  fill-opacity:.05 ;
  }
.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4, 4;
  }
.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
  }
/*.not_possible {*/
/*  fill:rgb(200,200,200);*/
/*  }*/

.selected{
   fill-opacity: 1;
}
