<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortCut Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dialog.min.css') }}">
</head>
<body>
    <div style="text-align: center;margin-top: 50px;">
        <h4>Short Cuts</h4>
    </div>
    <div class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ShortCut Key</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>q</td>
                    <td>Color By Predicted</td>
                </tr>
                <tr>
                    <td>w</td>
                    <td>Color By Ground Truth</td>
                </tr>
                <tr>
                    <td>z</td>
                    <td>Filter By All</td>
                </tr>
                <tr>
                    <td>x</td>
                    <td>Filter By Labeled</td>
                </tr>
                <tr>
                    <td>c</td>
                    <td>Filter By UnLabeled</td>
                </tr>
                <tr>
                    <td>v</td>
                    <td>Filter By Discordant</td>
                </tr>
                <tr>
                    <td>b</td>
                    <td>Show All</td>
                </tr>
                <tr>
                    <td>n</td>
                    <td>Show Label 0</td>
                </tr>
                <tr>
                    <td>m</td>
                    <td>Show Label 1</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>Select Label 0</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Select Label 1</td>
                </tr>
                <tr>
                    <td>enter</td>
                    <td>Apply Label</td>
                </tr>
                <tr>
                    <td>u</td>
                    <td>Update Label</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>Select All</td>
                </tr>
                <tr>
                    <td>s</td>
                    <td>Invert</td>
                </tr>
                <tr>
                    <td>r</td>
                    <td>Reset Plot</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>